<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_for @post, url: posts_path do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
    
    <%= f.label :body %>
    <%= f.text_field :body, :required => true %>
    
    <%= f.submit %>
<% end %>